/* Von Florin Eibel erstellt */
/* Generelles */

body{
    background-image: url("assets/images/Hintergrund.png");
    background-size: cover;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}


h2{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

h4{
    font-family: sans-serif;
    font-size: 20px;
}

h5{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    font-family: sans-serif;
}

.button{
    background-color: forestgreen;
    font-size: 25px;
    cursor: pointer;
    border: 10px;
    border-style: solid;
    border-color: forestgreen;
    border-radius: 15px;
}

/* header */
header {
    background-color: green;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    margin-block-start: 0;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.nav-item{
    list-style-type: none;
    font-size: 20px;
}
/* Home-Seite */
.home-title{
    font-size: 110px;
    text-align: center;
    font-family: sans-serif;
    color: gray;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button{
    text-align: center;
}

.infoliste{
    color: white;
    margin: 55px;
    font-size: 33px;
    font-weight: bold;
    font-family: sans-serif;
}

/* Von Aaron Meister erstellt */
/* News-Seite */
.infotext{
    margin: 130px;
    color: white;
    font-size: 33px;
    font-weight: bold;
}
/* footer */
footer{
    background-color: saddlebrown;
    width: 100%;
    position: absolute;
    font-family: sans-serif;
    padding-left: 20px;
}
.container {
    padding-bottom: 50px;
    text-align: center;
}
.small {
    width: 350px;
    height: auto;
    position: relative;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
}
.small:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}